.lunatix-cart {
    display: flex;
    justify-content: center;

    overflow: auto;
    padding: 1rem;

    &__content {
        max-width: 500px;
        margin-top: 4rem;
        margin-bottom: 4rem;

        @include translucent-white-background;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        margin: 0;
    }

    &__main {
        display: flex;
        justify-content: space-between;
    }

    &__bold {
        font-size: 1.5rem;
        font-weight: 700;
    }

    &__quantity {
        display: flex;
        align-items: center;
    }

    &__quantity-dropdown-image {
        height: 50px;
    }

    &__price-delete {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__buttons {
        display: flex;
        justify-content: space-evenly;
        padding: 1rem 0;
    }

    &__button {
        height: 60px;
    }
}
