.lunatix-subscribe {
    display: flex;
    justify-content: center;

    overflow: auto;
    padding: 1rem;

    &__content {
        max-width: 500px;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    &__title {
        color: #fff;
    }

    &__form {
        @include translucent-white-background;
        text-align: center;
    }

    &__name-inputs-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
    }

    &__form-input {
        height: 3rem;
        width: 100%;
        padding: 1rem;

        border-radius: 3px;
        border: 1px solid transparent;
        border-top: none;
        border-bottom: 1px solid #DDD;
        box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;

        &--name {
            width: 50%;
        }
    }

    &__form-submit {
        height: 70px;
    }
}
