.lunatix-hero {
    background: no-repeat center center;
    overflow: auto;
    padding: 2rem 1rem;
    text-align: center;

    @media (min-width: $lunatix-sm) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    &__heading {
        color: #fff;
        text-align: center;
    }

    &__search-field-image-placeholder {
        width: 700px;
        max-width: 100%;
    }
}
