.lunatix-nav {
    display: grid;
    grid-template-areas:
        "logo mobile-toggle"
        "menu menu";
    grid-column-gap: 1rem;

    padding: 1rem;

    @media (min-width: $lunatix-sm) {
        display: flex;
        align-items: center;
    }

    &__home-link {
        grid-area: logo;
    }

    > .navbar-nav {
        grid-area: menu;

        > li {
            margin: .5rem 0;

            > a {
                text-transform: uppercase;
                text-decoration: none;
                color: #777;
            }
        }
    }

    &__mobile-toggle {
        grid-area: mobile-toggle;
        justify-self: end;

        display: block;
        width: 28px;
        height: 28px;
        margin-top: 14px;

        @media (min-width: $lunatix-sm) {
            display: none;
        }

        span:after, span:before {
            content: "";
            position: absolute;
            left: 0;
            top: 9px;
        }

        span:after {
            top: 18px;
        }

        span {
            position: relative;
            display: block;
        }

        span,
        span:after,
        span:before {
            width: 100%;
            height: 2px;
            background-color: #000;
            transition: all 0.3s;
            backface-visibility: hidden;
            border-radius: 2px;
        }

        &.on span {
            background-color: transparent;
        }

        &.on span:before {
            transform: rotate(45deg) translate(-1px, 0px);
        }

        &.on span:after {
            transform: rotate(-45deg) translate(6px, -7px);
        }
    }

    &__logo {
        max-height: 3rem;
    }
}

.nav {
    display: none;

    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

    @media (min-width: $lunatix-sm) {
        display: flex;

        flex-grow: 1;

        .divider {
            flex-grow: 3;
        }

        > li {
            flex-grow: 1;
        }
    }

    &__logo {
        max-width: 100%;
    }
}
