.lunatix-categories-section {
    margin-top: 2rem;
    padding: 1rem;

    @media (min-width: $lunatix-sm) {
        margin-top: 4rem;
        margin-bottom: 2rem;
    }

    &__image {
        max-height: 100px;
    }
}
