.lunatix-events-section {
    text-align: center;

    padding: 1rem;

    @media (min-width: $lunatix-sm) {
        display: grid;
        grid-template-areas:
            "trending-text view-all-button"
            "carousel carousel";
    }

    &__trending-text {
        font-weight: 700;

        @media (min-width: $lunatix-sm) {
            grid-area: trending-text;

            text-align: left;
        }
    }

    &__view-all-button {
        @media (min-width: $lunatix-sm) {
            grid-area: view-all-button;
            justify-self: end;
        }
    }

    &__carousel {
        @media (min-width: $lunatix-sm) {
            grid-area: carousel;
        }
    }

    &__image {
        max-height: 150px;
    }
}
