.lunatix-footer {
    text-align: center;
    padding: 1rem;
    background-color: #444;
    color: #ccc;

    @media (min-width: $lunatix-sm) {
        display: grid;
        grid-template-areas:
            "apple-store-link google-play-link"
            "mailing-list-form mailing-list-form"
            "text text";
        grid-row-gap: 2rem;

        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    &__download-link {
        margin-top: 1rem;
        max-height: 50px;

        @media (min-width: $lunatix-sm) {
            margin-left: .5rem;
            margin-right: .5rem;
        }

        &--apple-store {
            @media (min-width: $lunatix-sm) {
                grid-area: apple-store-link;
                justify-self: end;
            }
        }

        &--google-play {
            @media (min-width: $lunatix-sm) {
                grid-area: google-play-link;
            }
        }
    }

    &__mailing-list-form {
        margin-top: 1rem;
        height: 70px;

        @media (min-width: $lunatix-sm) {
            grid-area: mailing-list-form;
            justify-self: center;
        }
    }

    &__text {
        @media (min-width: $lunatix-sm) {
            grid-area: text;
        }
    }

    &__venmo-logo {
        height: 25px;
    }

    img {
        max-width: 100%;
    }

    a {
        color: #ccc;
        text-decoration: none;
    }
}
