.lunatix-video-section {
    display: grid;
    justify-items: center;

    padding: 1rem;
    background-color: #ddd;

    @media (min-width: $lunatix-sm) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}
